In [18]:
#importing libraries
import pandas as pd
import numpy as np
#natural language toolkit processing 
import nltk  
#nltk.data.path.append("C:/Program Files/Python312/nltk_data/punkt_tab/")
nltk.download('punkt_tab')
nltk.download('wordnet')
nltk.download('stopwords')
#open multilingual wordnet
nltk.download('omw-1.4') 
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
#helps get rid of the punctuation
from ast import literal_eval

[nltk_data] Downloading package punkt_tab to C:\Program
[nltk_data]     Files\Python312\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Program
[nltk_data]     Files\Python312\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Program
[nltk_data]     Files\Python312\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to C:\Program
[nltk_data]     Files\Python312\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [19]:
#uploading dataset
#added encoding technique since the data set can't load
data = pd.read_csv('bh.csv', encoding='ISO-8859-1')

In [20]:
data.head()

,Name,Street,Location,Price,Crime Rate,Person,Bed,Bath,Latitude,Longitude
0,Luna BH,Luna Street,Iloilo City Proper,"2,000",1.10,2,1,Shared,10.70078,122.562460
1,Central Park BH,Delgado Street,Iloilo City Proper,"2,500",1.15,3,2,Shared,10.69776,122.565292
2,City Haven BH,Mabini Street,Iloilo City Proper,"2,300",1.05,2,1,Shared,10.69699,122.564750
3,Sunshine BH,Rizal Street,Iloilo City Proper,"2,800",1.20,4,3,Shared,10.70182,122.574620
4,Plaza Prime BH,General Luna Street,Iloilo City Proper,"3,000",1.25,3,2,Shared,10.70078,122.562462

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        30 non-null     object
 1   Street      30 non-null     object
 2   Location    30 non-null     object
 3   Price       30 non-null     object
 4   Crime Rate  30 non-null     float64
 5   Person      30 non-null     int64
 6   Bed         30 non-null     int64
 7   Bath        30 non-null     object
 8   Latitude    30 non-null     float64
 9   Longitude   30 non-null     float64
dtypes: float64(3), int64(2), object(5)
memory usage: 2.5+ KB

In [22]:
data.dtypes

Name           object
Street         object
Location       object
Price          object
Crime Rate    float64
Person          int64
Bed             int64
Bath           object
Latitude      float64
Longitude     float64
dtype: object

In [23]:
#convert data type Price into int
data['Price'] = data['Price'].str.replace(',','').astype(int)

In [24]:
data.dtypes

Name           object
Street         object
Location       object
Price           int64
Crime Rate    float64
Person          int64
Bed             int64
Bath           object
Latitude      float64
Longitude     float64
dtype: object

In [25]:
data['Location'].value_counts()

Location
Iloilo City Proper    5
Jaro                  5
Lapaz                 5
Arevalo               5
Lapuz                 5
Mandurriao            5
Name: count, dtype: int64

In [26]:
data.columns

Index(['Name', 'Street', 'Location', 'Price', 'Crime Rate', 'Person', 'Bed',
       'Bath', 'Latitude', 'Longitude'],
      dtype='object')

In [27]:
#convert data type Person and Bed into object
data = data.astype({'Person': 'O', 'Bed': 'O'})

In [28]:
print(data['Person'].unique())
print(data['Bed'].unique())

[2 3 4 1]
[1 2 3 4]

In [29]:
#convert data types into string to crate new column 'Tag'
# Define mapping functions
def person_mapping(value):
    mapping = {1: 'One Person', 2: 'Two Person', 3: 'Three Person', 4: 'Four Person'}
    return mapping.get(value, value)  # If value not in mapping, return the original

def bed_mapping(value):
    mapping = {1: 'One Bed', 2: 'Two Bed', 3: 'Three Bed', 4: 'Four Bed'}
    return mapping.get(value, value)  # If value not in mapping, return the original

# Apply these functions to update the columns
data['Person'] = data['Person'].apply(person_mapping)
data['Bed'] = data['Bed'].apply(bed_mapping)

In [30]:
data.head()

,Name,Street,Location,Price,Crime Rate,Person,Bed,Bath,Latitude,Longitude
0,Luna BH,Luna Street,Iloilo City Proper,2000,1.10,Two Person,One Bed,Shared,10.70078,122.562460
1,Central Park BH,Delgado Street,Iloilo City Proper,2500,1.15,Three Person,Two Bed,Shared,10.69776,122.565292
2,City Haven BH,Mabini Street,Iloilo City Proper,2300,1.05,Two Person,One Bed,Shared,10.69699,122.564750
3,Sunshine BH,Rizal Street,Iloilo City Proper,2800,1.20,Four Person,Three Bed,Shared,10.70182,122.574620
4,Plaza Prime BH,General Luna Street,Iloilo City Proper,3000,1.25,Three Person,Two Bed,Shared,10.70078,122.562462

In [31]:
data['Tags'] = data['Person'].astype(str) + ' ' + data['Bath'].astype(str) + ' ' + data['Bed'].astype(str)

In [32]:
data.head()

,Name,Street,Location,Price,Crime Rate,Person,Bed,Bath,Latitude,Longitude,Tags
0,Luna BH,Luna Street,Iloilo City Proper,2000,1.10,Two Person,One Bed,Shared,10.70078,122.562460,Two Person Shared One Bed
1,Central Park BH,Delgado Street,Iloilo City Proper,2500,1.15,Three Person,Two Bed,Shared,10.69776,122.565292,Three Person Shared Two Bed
2,City Haven BH,Mabini Street,Iloilo City Proper,2300,1.05,Two Person,One Bed,Shared,10.69699,122.564750,Two Person Shared One Bed
3,Sunshine BH,Rizal Street,Iloilo City Proper,2800,1.20,Four Person,Three Bed,Shared,10.70182,122.574620,Four Person Shared Three Bed
4,Plaza Prime BH,General Luna Street,Iloilo City Proper,3000,1.25,Three Person,Two Bed,Shared,10.70078,122.562462,Three Person Shared Two Bed

In [33]:
#Converting "Tags" and Location" columns to lowercase for simplicity
data['Tags'] = data['Tags'].str.lower()

In [34]:
#Recommender function
#Location is location and Tags is description
def recommender(location, description, price):
    # Convert description to lowercase and tokenize (sentences into words)
    description = description.lower()
    description_tokens = word_tokenize(description)
    
    # Load stopwords
    stop_words = set(stopwords.words('english'))
    
    # Apply lemmatization
    lemm = WordNetLemmatizer()
    
    # Filter out stopwords and apply lemmatization to description
    filtered_set = {lemm.lemmatize(word) for word in description_tokens if word not in stop_words}
    
    # Filter data by location and price (case-insensitive comparison)
    filtered_data = data[
        (data['Location'].str.lower() == location.lower()) & 
        (data['Price'] <= price)
    ]
    
    # Reset the index of the filtered DataFrame
    filtered_data = filtered_data.set_index(np.arange(filtered_data.shape[0])) 

    print("Filtered Location DataFrame:")
    print(filtered_data[["Location"]].head())
    
    # Calculate similarity
    cos = []
    for i in range(filtered_data.shape[0]):
        # Tokenize and filter "Tags" for the current row
        tag_tokens = word_tokenize(filtered_data["Tags"][i].lower())
        temp_set = {lemm.lemmatize(word) for word in tag_tokens if word not in stop_words}
        
        # Calculate the intersection to simulate cosine similarity
        vector = temp_set.intersection(filtered_set)
        cos.append(len(vector))
    
    # Add similarity scores to filtered DataFrame
    filtered_data['similarity'] = cos
    
    # Sort by similarity score, then by Crime Rate and Price
    filtered_data = filtered_data.sort_values(
        by=['similarity', 'Crime Rate', 'Price'], 
        ascending=[False, True, True]
    )
    
    # Remove duplicate rows based on the 'Name' column
    filtered_data.drop_duplicates(subset='Name', keep='first', inplace=True)
    
    # Return the top 3 results with the original capitalization of the Location column
    return filtered_data[["Name", "Crime Rate", "Price", "Street", "Location"]].head(3)

In [35]:
#Enter your input
print(recommender('Iloilo City Proper', 'Shared', 2500))

Filtered Location DataFrame:
             Location
0  Iloilo City Proper
1  Iloilo City Proper
2  Iloilo City Proper
              Name  Crime Rate  Price          Street            Location
2    City Haven BH        1.05   2300   Mabini Street  Iloilo City Proper
0          Luna BH        1.10   2000     Luna Street  Iloilo City Proper
1  Central Park BH        1.15   2500  Delgado Street  Iloilo City Proper

In [ ]:
import pickle

pickle.dump(data, open('artifacts/bh_list.pkl', 'wb'))
pickle.dump(data, open('artifacts/similarity.pkl', 'wb'))